@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: green;
  font-size: 20px;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 80vh;
  width: 90vh;
  border: 1px solid black;
  margin: auto;
  border-radius: 30px;
  background-color: rgb(252, 252, 251);
  margin-top: 5%;
  padding: 30px;
  overflow: auto;
}

#newGame {
  position: absolute;
  right: 20px;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 40% 20% 40%;
  justify-content: center;
  text-align: center;
  height: 90%;
  width: 80%;
  margin: auto;
}

#playerContainer,
#dealerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 30px;
  font-weight: bolder;
}

.cards {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto 40px;
}

.card {
  position: relative;
  height: 100%;
  width: 15%;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  height: 50%;
  position: relative;
  top: 30%;
}

.hiddenCard {
  height: 100%;
  width: 15%;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  margin: 8px;
  background: lightblue;
}

button {
  font: inherit;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(40, 40, 40);
}

button:hover {
  transform: scale(1.1);
}

#winnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.winner {
  font-size: 30px;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 15%;
}

#hit {
  margin-right: 5px;
  width: 7%;
  padding: 8px;
}

#stand {
  margin-left: 5px;
  width: 7%;
  padding: 8px 10px;
}
